@import url('https://fonts.googleapis.com/css?family=Poppins:700');

body {
 /* resetting default  */
    padding: 0;
    margin: 0;

/* setting up page layout */
    display: grid;
    grid-template-areas: 
    "nav nav nav nav"
    "about about about name"
    "about about about name"
    "project project project project"
    "project project project project"
    "footer footer footer footer"
}

nav {
    grid-area: nav;
    background-color: pink;
    height: 5vh;
}

article {
    grid-area: about;
    background-color: pink;
    height: 55vh;
}

.container {
    grid-area: name;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FFB1A4;
    text-align: center;
    height: 55vh;
    position: relative;
}

.titleName {
    /* grid-area: name; */
    color: rgb(255, 255, 255);
    font-size: 5em;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    /* position: relative; */
    z-index: 1;
    position: absolute;
    top: 0;
  }

  .blob {
    /* position: absolute; */
    top: 0;
    left: 0;
    fill: #f865af;
    width: 25vmax;
    animation-name: blob;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    position: absolute;
  }
  
  .about:hover  ~ .container>.blob {
      animation-play-state: running;
  }
  
  @keyframes blob {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80%, 30%) rotate(160deg); } 
    40%  { transform: scale(0.8, 1) translate(80%, 30%) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0%, 50%) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0%, 50%) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
  } */
